body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.nard {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin: 20px;
    padding: 20px;
    position: relative;
    height: 6em;
}


.reset-styles img {
    max-width: 80%;
    margin-bottom: 15px;
}

.reset-styles h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    color: #333;
}

.reset-styles h3 {
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.reset-styles p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.reset-styles span {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.reset-styles .left span {
    text-align: left;
}

.reset-styles .right span {
    text-align: right;
}

.reset-styles a {
    text-decoration: underline;
}



/* .card.out {
    transform: translateX(-2000px);
    transition: transform 1s;
} */



/* Reset max-width and max-height for mobile devices */
@media screen and (max-width: 600px) {
    
    /* body {
        align-items: flex-start; 
        padding-top: 3em; 
    } */

    .reset-styles #container {
        max-width: 100%;
        min-height: 70%; 
        /* top: 2.5em; */
    }

    .reset-styles h2 {
    font-size: 28px;
}

.reset-styles h3 {
    font-size: 22px;
}

.reset-styles p {
    font-size: 18px;
}
}
.slider-wrapper {
  position: relative;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

.reset-styles .slider-wrapper label.slider-label-left {
  text-align: left;
}

.reset-styles .slider-wrapper label.slider-label-right {
  text-align: right;
}

.reset-styles .slider {
  width: 80%;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  opacity: 0.7;
  border-radius: 20px; /* This will give the slider rounded corners */
  background: #d3d3d3; /* This will color the track */
  transition: opacity .2s;
}

.reset-styles .slider:hover {
  opacity: 1;
}

.reset-styles .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  transition: .3s ease-in-out; 
  border-radius: 50%; /* This will make the thumb (the part you move) round */
}

.reset-styles .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  border-radius: 50%;
}
.reset-styles .slider-labels {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 12px;
} 

/* Reset max-width and max-height for mobile devices */
@media screen and (max-width: 600px) {
    .reset-styles .slider-wrapper {
        width: 90%;
    }
    .reset-styles .nard {
        height: 11em;
    }
}

.reset-styles .toggle-btn {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
}

.reset-styles .toggle-btn__side {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.reset-styles .toggle-btn__side--left {
    background-color: grey;
}