body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: white; /* #f5f5f5 breaks gdocs pages. do we care? */
  /* background-image: url("/doorstops/swoosh.svg");  */
  box-sizing: border-box;
  max-width: 100%;
  /* overflow-y: hidden; */
}

#container, #swiped-right-section, #left-section, #bingo-section, #account-section {
  position: relative;
  width: 90%; 
  height: 93%;
  max-height: 600px;
  box-sizing: border-box;
}

#container, #swiped-right-section {
  max-width: 400px; 
}

#swiped-right-section {
  overflow: scroll;
}

#left-section, #bingo-section, #account-section {
  font-family: 'colfax-medium';
  font-size: 16px;
  overflow: scroll;
  max-width: 55%;
}

#bingo-section, #account-section {
  max-width: 100%;
}

#bingo-section {
  font-size: 14px;
}

#content-placeholder {
  text-align: left;
}

#content-placeholder .yonk {
  font-family: 'Poppins', sans-serif;
}
#content-placeholder .yonk p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  margin-bottom: 0.5em; 
  margin-top: 0.7em;
  font-size: 14pt;
}

#content-placeholder .yonk p, h1, h2, h3, li {
  font-family: 'Poppins', sans-serif;
  color: black;
}

#content-placeholder .yonk a {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  display: inline;
  font-size: 14pt;
  line-height: 1.6;
}
#content-placeholder h1 {
  font-size: 25pt;
  line-height: 1;
  font-weight: 600;
  text-decoration: none;
}
#content-placeholder h2 {
  margin-top: 1em;
  font-weight: 600;
  font-size: 20pt;
}

#content-placeholder h3 {
  margin-top: 5px;
  font-weight: 600;
  font-size: 20pt;
}

#content-placeholder .yonk ul {
  list-style-type: disc; /* or circle or square, depending on the bullet style you want */
  padding-left: 30px;
  font-size: 14pt;
}

#content-placeholder .yonk li {
  list-style-type: disc !important; 
}
#content-placeholder .badonk {
  list-style-type: disc; /* or circle or square, depending on the bullet style you want */
  padding-left: 30px;
  font-size: 14pt;

}
#content-placeholder .badonk li {
  list-style-type: disc !important; 

}
#content-placeholder .honk {
  list-style-type: disc !important; 
}


/**
* COPY-PASTE
*/


.copy-paste-element {
  position: relative;
  background-color: #f6f9fc;
  border-radius: 3px;
  border: 1px solid #dce6e9;
  padding: 15px;
  margin-bottom: 1rem;
}

.copy-paste-element p {
  margin: 0;
  /* margin-bottom: 0.5em; */
  line-height: 1.5;
}

.copy-icon {
  position: absolute;
  top: 10px;
  right: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.copy-icon:focus {
  outline: none;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.hidden {
  display: none;
}

.svg2 path {
  stroke-dasharray: 477;
  stroke-dashoffset: 477;
  animation: draw 150ms ease-out forwards;
}


.card {
  width: calc(100% - 40px); /* take full width of the container minus margins */
  height: calc(100% - 40px); /* take full height of the container minus margins */
}

/* Style adjustments for larger screens */
@media screen and (min-width: 2000px) {
  #container, #swiped-right-section, #left-section, #bingo-section, #account-section {
      width: 50%; 
      height: 70%;
  }
}

#search-container {
  position: relative;
  width: 100%;
}

#search-input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: 'colfax-medium';
  font-size: 12pt;
}

#results-container {
  position: absolute;
  width: 100%;
  max-height: 200px; /* adjust as needed */
  overflow-y: auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: white;
  /* padding: 10px; */
  text-align: left;
  z-index: 2;
}

#results-container div {
  padding: 5px;
  cursor: pointer;
}

#results-container div:hover {
  background-color: #f5f5f5;
}

.flipped {

    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */

}

.card {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  margin: 20px;
  padding: 20px;
  transition: transform 0.1s;
  cursor: grab;
  position: absolute;
  overflow: hidden; /* test feature */
}


.card img {
  max-width: 80%;
  margin-bottom: 15px;
}

.card h2 {
  margin-bottom: 15px;
  font-family: 'colfax-medium';
  font-size: 25px;
  color: #333;
  text-align: left;
}

.card h3 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: 'colfax-medium';
  font-size: 20px;
  color: #333;
  text-align: left;
}

.card p {
  font-family: 'colfax-light';
  font-size: 16px;
  color: #666;
  text-align: left;
}

.card a {
  text-decoration: underline;
}


.card:active {
  cursor: grabbing;
}

/* .card.out {
  transform: translateX(-2000px);
  transition: transform 1s;
} */

.card.out {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}


.card:first-of-type {
  display: block;
}

iframe {
  text-align: center;
  width: 100%;
}

span {
  display: inline;
}

.blue {
  color: #97E5D7;
}

.green {
  color: #D2EBD8;
}

.red {
  color: #FEB7B3;
}

.loud {
  color: hsl(351, 83%, 61%); /*bright red */
}

.envy {
  color: hsl(170, 75%, 41%); 
}

/* Account popup */
.dinkydonk {
  position: fixed; /* fixed positioning makes sure it always stays on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: rgba(141, 141, 141, 0.5); /* semi-transparent background */
  backdrop-filter: blur(10px); /* blurred background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* high z-index to stay on top */
  overflow: scroll;
  max-width: 100%;
}

.content {
  color: white;
  text-align: center;
  max-width: 90%; /* limit the width */
  padding: 20px;
  border-radius: 10px;
}

.content img {
  width: 50%;
  height: auto;
}

.content h1, .content p {
  margin-top: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}



label {
  display: block;
  /* margin: 10px 0; */
}

input[type="checkbox"], input[type="radio"] {
  margin: 0 5px 0 0;
}

input[type="checkbox"]:checked + label, 
input[type="radio"]:checked + label {
    color: #007BFF;
}

option:checked {
    background-color: #007BFF;
    color: white;
}

input[type="submit"] {
  /* display: block;
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px; */
  cursor: pointer;
  margin-top: 0px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

fieldset {
  border: none;
}

legend {
  padding: 0 10px;
  color: #007BFF;
}

select {
  /* padding: 5px; */
}

/*  */

#navbar {
  position: relative;
  /* bottom: 0;   */
  width: 90%;
  max-width: 400px; 
  height: 50px; /* adjust as needed */
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.nav-icon {
  width: 30px; /* adjust as needed */
  height: 30px; /* adjust as needed */
  background-color: #f5f5f5;
}

/* #swiped-right-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
} */

#swiped-right-list {
  list-style-type: none;
  padding: 0;
}

#swiped-right-list li {
  margin-bottom: 20px;
  font-size: 18px;
}

#swiped-right-list li:hover {
  cursor: pointer;
}

/* Swiping right transition */

.fade-in {
  animation: fadeIn .1s ease-in forwards;
}

.fade-out {
  animation: fadeOut .1s ease-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}



/* Reset max-width and max-height for mobile devices */
@media screen and (max-width: 600px) {
  
  body {
      /* align-items: flex-start; Aligns items to the top on mobile */
      height: 95vh;
  }

  #results-container, #search-container {
      width: 100%;
  }

  #container, #swiped-right-section, #left-section, #bingo-section, #account-section {
      
      max-width: 100%;
      min-height: 80%;
      height: 90% 
      bottom: 1.5em;
      max-height: none;
      /* width: 100%;
      height: calc(100% - 50px); Subtract the height of the navbar 
      max-height: initial; */
  }

  #navbar {
      max-width: 100%;
      /* position: absolute; */
      bottom: 15px;
  }

  .card {
      /* height: 95%;  experimental style - try changing to 95% %*/
      /* margin-top: 15px; experimental style - didn't exist*/
      width: calc(100% - 30px);
  }
  .card h1, h2 {
    line-height: 1.3;
  }
  .card h2 {
    font-size: 28px;
  }

  .card h3 {
    font-size: 22px;
    line-height: 1.4;
  }

  .card p {
    font-size: 18px;
    line-height: 1.7;
  }
}


.liked {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.reset-styles {
  text-align: initial;
  margin: initial;
  padding: initial;
  /* Add or remove properties as needed */
}

#myVideo, .tenor-gif-embed {
  pointer-events: none;
}


/**
* accordion
*/

.accordion-menu {
  width: 100%;
}

.accordion-section {
  border: 1px solid #ccc;
  border-bottom: none;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  background-color: #f1f1f1;
  position: relative;
}

.accordion-header:after {
  content: '\25BC';
  position: absolute;
  right: 10px;
}

.accordion-header.active:after {
  content: '\25B2';
}

.accordion-content {
  padding: 10px;
  display: none;
  background-color: #fff;
}

.accordion-content p {
  font-size: 12pt;
}

@media screen and (max-width: 700px) {
  
  /* attempted android back swipe fix */
  html, body {
    overscroll-behavior-x: none;
  } 
  
  .accordion-menu {
    max-width: 100% - 20px;
  }


  .accordion-menu p {
    /* ADD STYLES FOR MOBILE */
  }
}



/* BINGO
*/

.bingo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 40px 0;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
    
h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #666;
  margin: 10px 0 30px;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

}

.bingo-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  perspective: 1000px;
  overflow: hidden;
  border-radius: 10px;
}

.bingo-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: transform 0.6s;
}

.back {
  transform: rotateX(180deg);
  background-color: #209CEE;
  color: #fff;
}

.front {
  cursor: pointer;
}

.bingo-item:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.bingo-item:hover .front {
  transform: rotateX(180deg);
}

.bingo-item:hover .back {
  transform: rotateX(0);
}

@media (max-width: 767px) {
  .bingo-board {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .back {
      font-size: 0.8rem;
  }

  .front {
      font-size: 1.1rem; /* added */
      /* display: none; */
  }

  .back {
      transform: rotateX(0);
  }

  .bingo-face {
      backface-visibility: hidden;
  }
}

@media (hover: none) {
  /* .front {
      display: none;
  } */

  /* .back {
      transform: rotateX(0)
      display: none; 
  }*/

  .front {
      transform: rotateX(0);
  }

  .back {
      transform: rotateX(180deg);
  }
}