body, #dashboard-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-x: hidden; /* new */
  padding: 0;
  background: white; /* #f5f5f5 breaks gdocs pages. do we care? */
  /* background-image: url("/doorstops/swoosh.svg");  */
  box-sizing: border-box;
  max-width: 100%;
  /* overflow-y: hidden; */
}



#card-container, #swiped-right-section, #left-section, #bingo-section, #account-section {
  position: relative;
  width: 90%; 
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  margin: auto;
}

#card-container {
  height: 93%;
  max-height: 93%;
  top: 3.5%;
}

#card-container, #swiped-right-section {
  max-width: 40%;
  /* max-width: 600px;  */
}

#swiped-right-section {
  overflow: scroll;
}

#left-section, #bingo-section, #account-section {
  font-family: 'colfax-medium';
  font-size: 16px;
  overflow: scroll;
  /* max-width: 62%; */
  max-width: 100%;
}

#bingo-section, #account-section {
  max-width: 100%;
}

#bingo-section {
  font-size: 14px;
}

#content-placeholder {
  text-align: left;
  width: 80%;
  margin: auto;
}

#content-placeholder .yonk {
  font-family: 'Poppins', sans-serif;
}
#content-placeholder .yonk p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  margin-bottom: 0.5em; 
  margin-top: 0.7em;
  font-size: 14pt;
}

#content-placeholder .yonk p, h1, h2, h3, li {
  font-family: 'Poppins', sans-serif;
  color: black;
}

#content-placeholder .yonk a {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  display: inline;
  font-size: 14pt;
  line-height: 1.6;
}
#content-placeholder h1 {
  font-size: 25pt;
  line-height: 1;
  font-weight: 600;
  text-decoration: none;
}
#content-placeholder h2 {
  margin-top: 1em;
  font-weight: 600;
  font-size: 20pt;
}

#content-placeholder h3 {
  margin-top: 5px;
  font-weight: 600;
  font-size: 20pt;
}

#content-placeholder .yonk ul {
  list-style-type: disc; /* or circle or square, depending on the bullet style you want */
  padding-left: 30px;
  font-size: 14pt;
}

#content-placeholder .yonk li {
  list-style-type: disc !important; 
}
#content-placeholder .badonk {
  list-style-type: disc; /* or circle or square, depending on the bullet style you want */
  padding-left: 30px;
  font-size: 14pt;

}
#content-placeholder .badonk li {
  list-style-type: disc !important; 

}
#content-placeholder .honk {
  list-style-type: disc !important; 
}


.form-button {
    padding: 12px 20px 10px;
    letter-spacing: -0.5px;
    display: inline-block;
    font-family: "colfax-medium", sans-serif;    
    border-radius: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-align: center;
    position: relative;
    background: #333;
    cursor: pointer;
    color: #fff;
    width: auto;
    z-index: 2;
}

.form-button:before {
  -webkit-animation: pulse 2s ease infinite;
  animation: pulse 2s ease infinite;
  background: rgba(54, 54, 54, 0.4);
  border-radius: 20px;
  position: absolute;
  content: "";
  z-index: -1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

/**
* COPY-PASTE
*/


.copy-paste-element {
  position: relative;
  background-color: #f6f9fc;
  border-radius: 3px;
  border: 1px solid #dce6e9;
  padding: 15px;
  margin-bottom: 1rem;
}

.copy-paste-element p {
  margin: 0;
  /* margin-bottom: 0.5em; */
  line-height: 1.5;
}

.copy-icon {
  position: absolute;
  top: 10px;
  right: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.copy-icon:focus {
  outline: none;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.hidden {
  display: none;
}

.svg2 path {
  stroke-dasharray: 477;
  stroke-dashoffset: 477;
  animation: draw 150ms ease-out forwards;
}


.card {
  width: calc(100% - 40px); /* take full width of the container minus margins */
  height: calc(100% - 50px); /* take full height of the container minus margins and a smidge */
}



#search-container {
  position: relative;
  width: 100%;
}

#search-input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: 'colfax-medium';
  font-size: 12pt;
}

#results-container {
  position: absolute;
  width: 100%;
  max-height: 200px; /* adjust as needed */
  overflow-y: auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: white;
  /* padding: 10px; */
  text-align: left;
  z-index: 2;
}

#results-container div {
  padding: 5px;
  cursor: pointer;
}

#results-container div:hover {
  background-color: #f5f5f5;
}

.flipped {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.card {
  display: block;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(160, 189, 255, 0.15);
  margin: 20px;
  padding: 20px;
  transition: transform 0.1s;
  cursor: grab;
  position: absolute;
  overflow: hidden; /* test feature */
}


.card img {
  max-width: 80%;
  margin-bottom: 15px;
}

.card h2 {
  margin-bottom: 10px;
  font-family: 'colfax-medium';
  font-size: 25px;
  color: #333;
  text-align: left;
}

.card h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'colfax-medium';
  font-size: 20px;
  color: #333;
  text-align: left;
}

.card p {
  font-family: 'colfax-light';
  font-size: 16px;
  color: #666;
  text-align: left;
}

.card a {
  text-decoration: underline;
}

.card:active {
  cursor: grabbing;
}

/* .card.out {
  transform: translateX(-2000px);
  transition: transform 1s;
} */

.card.out {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}


.card:first-of-type {
  display: block;
}

iframe {
  text-align: center;
  width: 100%;
  text-color: black;
}

#doorstop-frame {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#doorstop-frame::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


span {
  display: inline;
}

.blue {
  color: #97E5D7;
}

.green {
  color: #D2EBD8;
}

.red {
  color: #FEB7B3;
}

.loud {
  color: hsl(351, 83%, 61%); /*bright red */
}

.envy {
  color: hsl(170, 75%, 41%); 
}

/* Account popup */
.dinkydonk {
  position: fixed; /* fixed positioning makes sure it always stays on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: rgba(141, 141, 141, 0.5); /* semi-transparent background */
  backdrop-filter: blur(10px); /* blurred background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* high z-index to stay on top */
  overflow: scroll;
  max-width: 100%;
}

.content {
  color: black;
  width: 92%;
  margin: auto;
  text-align: center;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(160, 189, 255, 0.15);
  /* max-width: 90%; limit the width */
  padding: 20px;
  border-radius: 10px;
}
.content img {
  width: 50%;
  height: auto;
}

.content h1, .content p {
  margin-top: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.question-content {
  display: none;
}

.question-content.active {
  display: block;
}


fieldset {
  border: none;
}

legend {
  padding: 0 10px;
  color: #007BFF;
}

select {
  /* padding: 5px; */
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}
/*  */
input {
 
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
#navbar {
  position: relative;
  /* bottom: 0;   */
  width: 90%;
  max-width: 400px; 
  min-height: 50px; /* adjust as needed */
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.nav-icon {
  width: 30px; 
  height: 30px; 
  background-color: #f5f5f5;
}

.nav-icon.desktop {
  width: 33px;
  height: 33px;
  background-color: transparent;
}



/* #swiped-right-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
} */

#swiped-right-list {
  list-style-type: none;
  padding: 0;
}

#swiped-right-list li {
  margin-bottom: 20px;
  font-size: 18px;
}

#swiped-right-list li:hover {
  cursor: pointer;
}

.card-video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-caption {
  display: flex; 
  justify-content: flex-end; 
  position: relative; 
  flex-direction: column; 
  height: 100%; 
  pointer-events: none;

}

.card-caption h2 {
  font-size: 20px; color: #FFF7F7;
  margin-bottom: 0;
}
.card-caption p {
  color: #FFF7F7
}

.triangle-main, .triangle-left {
  position: absolute;
  right: -10px;  
  bottom: 10%;
  z-index: 4;
  box-shadow: 0 20px 30px -10px rgba(54, 54, 54, 0.2);
  padding: 20px;
  display: inline-block;
  border-radius: 50px;
    width: auto;
    background: rgba(255, 255, 255, 0.8);
    animation: right-pulse 1.8s ease infinite;
}

.triangle-main path {
  /* stroke-width: 10; */
  stroke: rgba(160, 189, 255);
  fill: rgba(160, 189, 255);
  /* stroke-linejoin: round; */
  /* stroke-linecap:round; */

}

.triangle-left path {
  stroke: #EF4E6D;
}
.triangle-main:hover, .triangle-left:hover {
  cursor: pointer;
}

.triangle-left {
  left: -10px;  
  animation: left-pulse 1.8s ease infinite;

}


@keyframes right-pulse {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  50% {
      opacity: 0.2
  }

  100% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 0
  }
}
@keyframes left-pulse {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  50% {
      opacity: 0.2
  }

  100% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 0
  }
}
/* Swiping right transition */

.fade-in {
  animation: fadeIn .1s ease-in forwards;
}

.fade-out {
  animation: fadeOut .1s ease-out forwards;
}

.fade-in-med {
  animation: fadeInMed 1.5s ease-in forwards;
}

.fade-out-med {
  animation: fadeOutMed 1s ease-out forwards;
}
.fade-in-slow {
  animation: fadeInSlow 3s ease-in forwards;

}

.fade-out-slow {
  animation: fadeOutSlow 5s ease-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeInMed {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOutMed {
  0% { opacity: 1; }
  100% { opacity: 0; display: none;}
}
@keyframes fadeOutSlow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  70% { opacity: 0.8}
  100% { opacity: 0; display: none;}
}

@keyframes fadeInSlow {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1;}
}

#desktop-sidenav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid #A0BDFF;
  flex: 1;
  padding: 25px;
  /* background-image: url(/assets/images/gradient.webp); background-size: cover; */

}

.desktop-button {
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
  width: 100%;
  margin: 7px;
  margin-left: 0px;
  padding: 5px;
  display: flex; align-items: center; justify-content: left;
}

.desktop-text {
  font-size: 18pt; display: inline; color: black; margin: 0;
}

.desktop-button:hover {
  background-color: #D9D9D9;
  transform: scale(1.1);
}

.desktop-button-onboard {
  background-color: #D9D9D9;
  animation: pulse 1.6s ease infinite;
}

#desktop-main {
  flex: 4;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: white;  
  /* background-image: url("/assets/svg/wave.svg");  */
  box-sizing: border-box;
  max-width: 100%;

}

#navbar {
  display: none;
}

@media screen and (min-width: 1500px) {

  #card-container, #swiped-right-section {
    max-width: 500px; 
  }
    
  .card h2 {

    font-size: 28pt;
  }
  
  .card h3 {
    font-size: 25pt;

  }
  
  .card p {
    font-size: 20pt;
  }
  
  .desktop-text {
    font-size: 25pt;
  }
  .nav-icon.desktop {
    width: 35px;
    height: 35px;
  }
}
@media screen and (min-width: 1600px) {
  #card-container, #swiped-right-section {
    max-width: 600px; 
  }
  
  
  .card h2 {

    font-size: 29pt;
  }
  
  .card h3 {
    font-size: 26pt;

  }
  
  .card p {
    font-size: 22pt;
  }

  .desktop-text {
    font-size: 28pt;
  }
  .nav-icon.desktop {
    width: 40px;
    height: 40px;
  }
}
#onboarding-survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 100%;
}
#onboarding-survey h2 {
  color: black; 
  margin: initial;
  font-weight: 500;
}
.onboarding-choice {
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  margin: auto;
  color: black; 
  width: 25%;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Poppins";
  padding: 7px;
  position: relative;
  cursor: pointer;
  border-radius: 18px;
}
@media screen and (max-width: 720px) {
  .onboarding-choice {
    width: 50%;
  }
}
.onboarding-choice:hover {
  box-shadow: 4px 12px 26px rgba(0, 0, 0, 0.3);
}
/* Style adjustments for larger screens */
@media screen and (min-width: 2000px) {
  /* #container, #swiped-right-section, #left-section, #bingo-section, #account-section {
      width: 50%; 
      height: 70%;
  } */

  #card-container, #swiped-right-section {
    max-width: 750pt; 
  
  }
  
  
  .card h2 {

    font-size: 32pt;
  }
  
  .card h3 {
    font-size: 28pt;

  }
  
  .card p {
    font-size: 24pt;
  }


  .desktop-text {
    font-size: 40pt;
  }
  .nav-icon.desktop {
    width: 50px;
    height: 50px;
  }
}



#howto {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#howto::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


/* Reset max-width and max-height for mobile devices */
@media screen and (max-width: 600px) {
  #navbar {
    display: flex;
    z-index: 4;
  }
  #desktop-sidenav {
    flex: 0;
    display: none;
  }
  #desktop-main {
    width: 100%;
    height: 95vh;
    background-image: none; 
  }
  #content-placeholder {
    width: 100%;
    max-width: 100%;
  }
  body, #dashboard-body {
      /* align-items: flex-start; Aligns items to the top on mobile */
      height: 95vh;
      flex-direction: column;
  }
  #howto {
    height: 125vh;
  }

  #results-container, #search-container {
      width: 100%;
  }

  #card-container, #swiped-right-section, #left-section, #bingo-section, #account-section {
      
      max-width: 100%;
      min-height: 80%;
      height: 96%; 
      max-height: 100%;

  }
  #card-container {
    top: 0;
    height: 96%;
  }

  #navbar {
      max-width: 100%;
      position: absolute;
      bottom: 0px;
  }

  .card {
      /* height: 95%;  experimental style - try changing to 95% %*/
      /* margin-top: 15px; experimental style - didn't exist*/
      width: calc(100% - 24px);
      height: calc(100% - 51px);
      margin-left: 15px;
      
  }
  .card h1, h2 {
    line-height: 1.3;
  }
  .card h2 {
    font-size: 24px;
  }

  .card h3 {
    font-size: 22px;
    line-height: 1.4;
  }

  .card p {
    font-size: 18px;
    line-height: 1.7;
  }
}


.liked {
  display: block;
  width: 92%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.reset-styles {
  text-align: initial;
  margin: initial;
  padding: initial;
  /* Add or remove properties as needed */
}

#myVideo, .tenor-gif-embed {
  pointer-events: none;
}

video {
  object-fit: contain; 
  box-sizing: border-box;
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-right: -40px;
}


/**
* accordion
*/

.accordion-menu {
  width: 100%;
}

.accordion-section {
  border: 1px solid #ccc;
  border-bottom: none;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  background-color: #f1f1f1;
  position: relative;
}

.accordion-header:after {
  content: '\25BC';
  position: absolute;
  right: 10px;
}

.accordion-header.active:after {
  content: '\25B2';
}

.accordion-content {
  padding: 10px;
  display: none;
  background-color: #fff;
}

.accordion-content p {
  font-size: 12pt;
}

@media screen and (max-width: 700px) {
  
  /* attempted android back swipe fix */
  html, body, #dashboard-body {
    overscroll-behavior-x: none;
  } 
  
  .accordion-menu {
    max-width: 100% - 20px;
  }


  .accordion-menu p {
    /* ADD STYLES FOR MOBILE */
  }
}



/* BINGO
*/

.bingo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 15px 0;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
    
h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #666;
  margin: 10px 0 30px;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

}

.bingo-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  perspective: 1000px;
  overflow: hidden;
  border-radius: 10px;
}

.bingo-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: transform 0.6s;
}

.back {
  transform: rotateX(180deg);
  background-color: #209CEE;
  color: #fff;
}

.front {
  cursor: pointer;
}

.bingo-item:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.bingo-item:hover .front {
  transform: rotateX(180deg);
}

.bingo-item:hover .back {
  transform: rotateX(0);
}

@media (max-width: 767px) {
  .bingo-board {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .back {
      font-size: 0.8rem;
  }

  .front {
      font-size: 1.1rem; /* added */
      /* display: none; */
  }

  .back {
      transform: rotateX(0);
  }

  .bingo-face {
      backface-visibility: hidden;
  }
}

@media (hover: none) {
  /* .front {
      display: none;
  } */

  /* .back {
      transform: rotateX(0)
      display: none; 
  }*/

  .front {
      transform: rotateX(0);
  }

  .back {
      transform: rotateX(180deg);
  }
}

/* ONBOARDING */

h2.tooltip {
  z-index: 3; position: fixed; text-align: left; left: 22.5%;
  font-size: 12pt;
}
h2.tooltip.top {
  top: 22%;
}
.tooltip.bot {
  bottom: 44%;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

@keyframes floatingHoriz {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(15, 0px); }
  100%   { transform: translate(-0, 0px); }   
}

.floating { 
  animation-name: floatingHoriz;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#overlay {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background-color: rgba(75, 75, 75, 0.8); 
  overflow: hidden;

}
.card h2.overlay-text {
  font-size: 12pt; color: white; line-height: 1.2em; 
}
.big {
  font-size: 4.5em; 
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 0;
  letter-spacing: -1px;
  line-height: 1.2;
  opacity: 0;
  }
h2.tooltip {
  background-color: #f5f5f5;
  padding: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
  @media screen and (max-width: 620px) {
    .floating { 
      animation-name: floating;
      margin-top: 5px;
    }
    
    .big {
      font-size: 2.8em;
      text-align: left;
      width: 98%;
      margin: auto;
      }
    .overlay-text {
      font-size: 15pt;
    }
    h2.tooltip {
      text-align: center;
      font-size: 9pt;

    }
    h2.tooltip.top {
      top: auto;
      bottom: 5%;
      left: 40%
    }
    h2.tooltip.bot {
      bottom: 5%;
      left: 17%;
    }
  }
