body {
  background: #f5f5f5;
  -webkit-overflow-scrolling: touch; /* fixes iframe scrolling issues on ios */
}

.ref {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#container {
    position: relative;
    width: 90%; 
    height: 93%; 
    max-width: 400px; 
    max-height: 600px; 
    box-sizing: border-box;
}

.box {
    max-width: 55%;
}

.players {
    
}

@media screen and (max-width: 600px) {
    .box {
        max-width: 100%;
    }

    .players {
        display: none;
    }
}

/* Style adjustments for larger screens */
@media screen and (min-width: 2000px) {
    #container {
        width: 50%; 
        height: 70%; 
    }
}

.lard {
    /* display: block; */
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin: 10px;
    padding: 15px;
    position: relative;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.ref img {
    max-width: 80%;
    margin-bottom: 15px;
}

.ref h1 {
  max-width: 80%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 2.1em;
}

.ref h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    color: #333;
}

.ref h3 {
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.ref p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.ref span {
    font-family: 'Poppins', sans-serif;
display: "inline"}

.left span {
    text-align: left;
}

.right span {
    text-align: right;
}

.ref a {
    text-decoration: underline;
}


.lard:hover {
    cursor: pointer;
}



.ref ul {
  max-width: 70%; 
}

/* Reset max-width and max-height for mobile devices */
@media screen and (max-width: 600px) {
    
    /* body {
        align-items: flex-start; 
        padding-top: 3em; 
    } */

    #container {
        max-width: 100%;
        min-height: 70%; 
        /* top: 2.5em; */
    }
    .ref h1 {
      text-align: left;
      max-width: 95%;
    }
    .ref h2 {
    font-size: 28px;

}

.ref h3 {
    font-size: 22px;
}

.ref p {
    font-size: 18px;
}

.ref ul {
  max-width: 100%;
}

}

.slider-wrapper {
  position: relative;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.slider-wrapper label.slider-label-left {
  text-align: left;
}

.slider-wrapper label.slider-label-right {
  text-align: right;
}

.slider {
  width: 80%;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  opacity: 0.7;
  border-radius: 20px; /* This will give the slider rounded corners */
  background: #d3d3d3; /* This will color the track */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  transition: .3s ease-in-out; 
  border-radius: 50%; /* This will make the thumb (the part you move) round */
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  border-radius: 50%;
}
.slider-labels {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 12px;
} 

/* Reset max-width and max-height for mobile devices */
@media screen and (max-width: 600px) {
    .slider-wrapper {
        width: 90%;
    }

}


#donks-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 70%;
  height: 100vh;
}

#game-section {
  height: 80vh;
}

#desks {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-gap: 7px;
}

.deskrows, #radiate {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-gap: 15px;
}

.desk {
  width: 75px;
  height: 50px;
  border-radius: 5px;
  background-color: #a0a0a0;
}

.desk:hover {
    cursor: pointer;
}



.donk {
  width: 75px;
  height: 50px;
  background-color: #a0a0a0;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
}


#text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 80%;
  width: 100%; /* if you want to center it vertically too */
  height: 100vh;
}

.textbox {
  display: flex;
  font-size: 20px;
  min-width: 90%;
  background-color: transparent;
  text-align: left;
}


#donkey {
  color: black; 
  max-width: 60%;
  margin: auto;
}
#strategies {
  max-width: 100%;
}


.copy-paste-element {
  text-align: left;
  position: relative;
  background-color: #f6f9fc;
  border-radius: 3px;
  border: 1px solid #dce6e9;
  padding: 15px;
  margin-bottom: 1rem;
}

#club-doorstop .copy-paste-element {
  max-width: 50%; 
  margin: auto;
}

@media screen and (max-width: 600px) {
  #club-doorstop .copy-paste-element {
    max-width: 98%; 
  }
}

.copy-paste-element p {
  margin: 0;
  /* margin-bottom: 0.5em; */
  /* line-height: 1.5; */
  font-size: 14pt;
}

.copy-icon {
  position: absolute;
  top: 10px;
  right: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.copy-icon:focus {
  outline: none;
}
.darker-bg {
  background-color: rgba(0, 0, 0, 0.2); /* this creates a semi-transparent black layer */
  background-blend-mode: overlay; /* this blends the new layer with the existing background */
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.hidden {
  display: none;
}

.svg2 path {
  stroke-dasharray: 477;
  stroke-dashoffset: 477;
  animation: draw 150ms ease-out forwards;
}


@media screen and (max-width: 600px) {
  #donkey {
    max-width: 100%;
  }
  .desk {
  width: 60px;
  height: 40px;
  border-radius: 4px;
  background-color: #a0a0a0;
}
    #donks-section, #text-section, .deskrows, #radiate {
        max-width: 100%;
    }
    #text-section {
        max-width: 100%;
    }
    #strategies {
      max-width: 98%;
      margin: auto;
    }
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: relative;
  width: 24px;
  height: 24px;
}

.close-icon {
  color: #999;
  font-size: 18px;
}

.close-button:hover .close-icon {
  color: #333;
}

.close-button:active .close-icon {
  color: #000;
}

.float {
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    padding: 15px;
    position: absolute;
    cursor: pointer; /* Changes the cursor to indicate that the box is clickable */
    transition: background-color 0.3s ease; /* Adds a smooth transition effect */
    animation: animate 8s linear infinite;
}

@keyframes animate 
{
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  99% {
    opacity: 1
  }
  100% {
    transform: translateY(-1200%);
    opacity: 0;
  }
}
.float.selected {
    background-color: #04AA6D;
}
