
.floating-emoji {
    position: absolute;
    bottom: 1em;
    left: 46%;
    opacity: 1;
  }


  .lard {
    /* display: block; */
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin: 10px;
    padding: 15px;
    position: relative;
    cursor: pointer;
}


.lard:hover {
    box-shadow: 4px 12px 26px rgba(0, 0, 0, 0.3);
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (max-width: 720px) {
    .row {
    display: flex;
    flex-direction: column;
          }
  }
.tard {
    /* display: block; */
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin: 10px;
    padding: 15px;
    position: relative;
    color: #989aa2; 
    margin: auto; 
    text-align: center;
}


.reformat ol {
    list-style-type: decimal; 
   list-style-position: inside; 
}

.yonk ol li {
    list-style-type: decimal !important;
    margin-left: 15px !important; 

}